.App {
  text-align: left;
  display: flex;
}

.Image-Positioning {
  position: relative;
  width: 600px;
  padding-top: 150px;
}

.Left-Part {
  width: 600px;
  text-align: left;
  padding-left: 50px;
  padding-top: 200px;
  padding-right: 50px;
}

.Google-Positioning {
  padding-left: 140px;
}

.Title {
  font-size: 40px;
  font-family: Inter;
  font-weight: bold;
}

.Subtitle {
  color: gray;
  font-size: 30px;
  font-family: Inter;
  font-weight: 340;
}

.Google-Button {
  border: 1px solid blueviolet;
  border-radius: 15px;
  text-align: center; 
  margin-right: 200px;
  display: flex;
  transition: background-color 1s ease;
}

.Google-Button:hover {
  background-color: blueviolet ;
  color: white;
  cursor: pointer;
}

.Google-Text {
  color: gray;
  font-size: 23px;
}

.Google-Icon {
  width: 10%;
  height: auto;
  position: relative;
  align-items: center;
  padding: 20px;
}